# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SLEAZYKEYS_LEFT

config ZMK_KEYBOARD_NAME
    default "sleazykeys"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SLEAZYKEYS_LEFT || SHIELD_SLEAZYKEYS_RIGHT

config ZMK_SPLIT
    default y

endif